language: python
python:
  - "3.7"
install:
  - pip install -r requirements/requirements.txt
  - pip install coverage
script:
  - coverage run -m unittest discover
after_success:
  - bash <(curl -s https://codecov.io/bash)
