name: Check code against linters and run tests

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  Check-Quality-Of-Code:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/production.txt
          pip install -r requirements/develop.txt
      - name: Validate
        run: |
          pre-commit install --config submodules/template-python/.pre-commit-config.yaml
          pre-commit run --all-files --config submodules/template-python/.pre-commit-config.yaml
      - name: Compute coverage
        run: |
          coverage run -m unittest discover
          bash <(curl -s https://codecov.io/bash)
